parameters:
  dockerRegistry: ''
  dockerImageName: ''

steps:
  - task: Docker@2
    inputs:
      command: buildAndPush
      containerRegistry: Django
      repository: ${{ parameters.dockerRegistry }}/${{ parameters.dockerImageName }}
      dockerfile: Dockerfile
      tags: latest
    displayName: "Build & Push Docker Image"
