- stage: DockerBuild
  displayName: Docker Build & Push
  jobs:
    - job: buildDocker
      steps:
        - template: templates/docker_push.yml
          parameters:
            dockerRegistry: ${{ variables.dockerRegistry }}
            dockerImageName: ${{ variables.dockerImageName }}
