steps:
  - script: |
      echo "dockerImageName=$(dockerImageName)"
  - task: Docker@2
    displayName: Build & Push Docker Image
    inputs:
      command: buildAndPush
      containerRegistry: Django
      repository: $(dockerImageName)
      dockerfile: Dockerfile
      tags: latest
