steps:
  - task: Docker@2
    displayName: Build & Push Docker Image
    inputs:
      command: buildAndPush
      containerRegistry: Django   # ACR Service Connection name
      repository: $(dockerImageName)
      dockerfile: Dockerfile
      tags: |
        latest
