steps:
  - task: Docker@2
    inputs:
      command: buildAndPush
      containerRegistry: Django
      repository: ${{ variables.dockerRegistry }}/${{ variables.dockerImageName }}
      dockerfile: Dockerfile
      tags: latest
    displayName: "Build & Push Docker Image"
