steps:
  - task: Docker@2
    inputs:
      command: buildAndPush
      containerRegistry: Django
      repository: django1.azurecr.io/django
      dockerfile: Dockerfile
      tags: latest
    displayName: "Build & Push Docker Image"

  - script: |
      echo "Running Trivy vulnerability scan..."
      trivy image --exit-code 1 --severity HIGH,CRITICAL django1.azurecr.io/django:latest
    displayName: "Trivy Image Scan"
