steps:
  - script: |
      echo "dockerImageName=$(dockerImageName)"
    displayName: "DEBUG Docker Image Name"

  - task: Docker@2
    displayName: Build & Push Docker Image
    inputs:
      command: buildAndPush
      containerRegistry: Django
      repository: $(dockerImageName)
      dockerfile: Dockerfile
      arguments: --no-cache
      tags: |
        $(Build.BuildId)
