steps:
  - script: |
      echo "Registry: ${{ variables.dockerRegistry }}"
      echo "Image: ${{ variables.dockerImageName }}"
    displayName: Debug Docker Variables

  - task: Docker@2
    displayName: Build & Push Docker Image
    inputs:
      command: buildAndPush
      containerRegistry: Django
      repository: ${{ variables.dockerRegistry }}/${{ variables.dockerImageName }}
      dockerfile: Dockerfile
      tags: latest
