parameters:
- name: image_name_override
  type: string
  default: ''

steps:
  - script: |
      echo "Registry: ${{ variables.dockerRegistry }}"
      echo "Image: ${{ variables.dockerImageName }}"
      echo "Override Image Name Parameter: ${{ parameters.image_name_override }}"
    displayName: Debug Docker Variables

  - task: Docker@2
    displayName: Build & Push Docker Image
    inputs:
      command: buildAndPush
      containerRegistry: Django
      repository: ${{ variables.dockerRegistry }}/${{ parameters.image_name_override }}
      dockerfile: Dockerfile
      tags: latest
