- task: Docker@2
  inputs:
    command: buildAndPush
    containerRegistry: Django
    repository: $(dockerRegistry)/$(dockerImageName)
    dockerfile: Dockerfile
    tags: latest
  displayName: "Build & Push Docker Image"

- script: |
      echo "Logging into ACR with Docker..."
      echo $(ACR_PASSWORD) | docker login $(dockerRegistry) -u $(ACR_USERNAME) --password-stdin
  displayName: "ACR Docker Login"

- script: |
      echo "Running Trivy vulnerability scan..."
      trivy image --exit-code 1 --severity HIGH,CRITICAL $(dockerRegistry)/$(dockerImageName):latest
  displayName: "Trivy Image Scan"
