parameters:
  dockerRegistry: ''
  dockerImageName: ''

steps:
  - script: |
      echo "Registry: ${{ parameters.dockerRegistry }}"
      echo "Image: ${{ parameters.dockerImageName }}"
    displayName: Debug Docker Parameters

  - task: Docker@2
    displayName: Build & Push Docker Image
    inputs:
      command: buildAndPush
      containerRegistry: Django
      repository: ${{ parameters.dockerImageName }}
      dockerfile: Dockerfile
      tags: latest
