steps:
  - script: |
      sonar-scanner \
        -Dsonar.projectKey=django-ecommerce \
        -Dsonar.projectName=django-ecommerce \
        -Dsonar.sources=. \
        -Dsonar.python.coverage.reportPaths=coverage.xml \
        -Dsonar.host.url=$(SONAR_HOST_URL) \
        -Dsonar.login=$(SONAR_TOKEN)
    displayName: "Run SonarQube Analysis"
