steps:
  - script: |
      echo "SONAR_HOST_URL = $SONAR_HOST_URL"
      echo "SONAR_TOKEN = $SONAR_TOKEN"

      sonar-scanner \
        -Dsonar.projectKey=django \
        -Dsonar.projectName=django \
        -Dsonar.sources=. \
        -Dsonar.python.coverage.reportPaths=coverage.xml \
        -Dsonar.host.url=$SONAR_HOST_URL \
        -Dsonar.login=$SONAR_TOKEN
    displayName: "Run SonarQube Analysis"
