steps:
- task: SonarQubePrepare@7
  inputs:
    SonarQube: 'Sonar-Service-Connection'
    scannerMode: 'CLI'
    configMode: 'manual'
    cliProjectKey: 'django-ecommerce'
    cliProjectName: 'django-ecommerce'
    extraProperties: |
      sonar.sources=.
      sonar.python.coverage.reportPaths=coverage.xml

- task: SonarQubeAnalyze@7

- task: SonarQubePublish@7
  inputs:
    pollingTimeoutSec: '300'
