steps:
  - script: |
      echo "Running Trivy scan (CRITICAL only)"

      trivy image \
        --scanners vuln \
        --vuln-type library \
        --ignorefile $(Build.SourcesDirectory)/.trivyignore \
        --ignore-unfixed \
        --severity CRITICAL \
        --exit-code 1 \
        "$(dockerRegistry)/$(dockerImageName):latest"
    displayName: "Trivy Scan on ACR Image"
