steps:
  - script: |
      echo "Running Trivy scan (fail only on CRITICAL)"

      trivy image \
        --ignorefile $(Build.SourcesDirectory)/.trivyignore \
        --ignore-unfixed \
        --severity CRITICAL \
        --exit-code 1 \
        --no-progress \
        "$(dockerRegistry)/$(dockerImageName):latest" \
        || exit 0
    displayName: "Trivy Scan on ACR Image"
