steps:
  - script: |
      echo "Running Trivy scan (informational only)"

      trivy image \
        --ignorefile $(Build.SourcesDirectory)/.trivyignore \
        --ignore-unfixed \
        --severity CRITICAL \
        --exit-code 0 \
        --no-progress \
        "$(dockerRegistry)/$(dockerImageName):latest"
    displayName: "Trivy Scan on ACR Image"
