steps:
  # Login to ACR using service connection
  - task: Docker@2
    displayName: Login to ACR
    inputs:
      command: login
      containerRegistry: Django   # name of your ACR service connection in DevOps

  # Run Trivy scan on the image in ACR
  - script: |
      echo "Running Trivy remote registry scan..."
      trivy image \
        --exit-code 1 \
        --severity HIGH,CRITICAL \
        "$(dockerRegistry)/$(dockerImageName):latest"
    displayName: "Trivy Scan on ACR Image"
