steps:
  - script: |
      trivy image \
        --ignorefile .trivyignore \
        --exit-code 1 \
        --severity CRITICAL \
        "$(dockerRegistry)/$(dockerImageName):latest"
    displayName: "Trivy Scan on ACR Image"
