trigger:
  - main

pool:
  name: SelfHostedPool

variables:
  - group: SonarQubeSettings

stages:
  - stage: Checkout
    displayName: Checkout Code
    jobs:
      - job: checkout
        steps:
          - template: templates/checkout.yml

  - stage: InstallDependencies
    displayName: Install Dependencies
    jobs:
      - job: install
        steps:
          - template: templates/install_dependencies.yml

  - stage: UnitTesting
    displayName: Unit Tests
    jobs:
      - job: unitTests
        steps:
          - template: templates/unit_testing.yml

  - stage: CodeCoverage
    displayName: Code Coverage
    jobs:
      - job: coverage
        steps:
          - template: templates/code_coverage.yml

  - stage: CredentialScanning
    displayName: Secret Scan
    jobs:
      - job: credScan
        steps:
          - template: templates/cred_scanning.yml

  - stage: DependencyScanning
    displayName: Dependency Scan
    jobs:
      - job: dependencyScan
        steps:
          - template: templates/dependency_scanning.yml

  - stage: StaticAnalysis
    displayName: SonarQube Analysis
    dependsOn:
      - UnitTesting
      - CodeCoverage
    jobs:
      - job: sonar
        steps:
          - template: templates/static_analysis.yml

  - stage: QualityGates
    displayName: Sonar Quality Gate (Non-blocking)
    dependsOn: StaticAnalysis
    condition: succeededOrFailed()
    jobs:
      - job: qualityGate
        steps:
          - template: templates/quality_gates.yml

  - stage: DockerBuild
    displayName: Docker Build
    jobs:
      - job: buildDocker
        steps:
          - template: templates/docker_build.yml
